@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

.home,
.daily_reports,
.weekly_reports,
.monthly_reports,
.deliveries,
.deliveries_history {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

.logo
{
  height: 200px;
  width: 200px;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
  border:2px black;
  grid-template-areas:
    ". . . ."
    "incidents_grid incidents_grid incidents_grid filters"
    "incidents_grid incidents_grid incidents_grid filters";
}

.incidents_grid {
  grid-area: incidents_grid;
  background-color: moccasin;
}

.filters {
  grid-area: filters;
  background-color: white;
}
