@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

.home,
.daily_reports,
.weekly_reports,
.monthly_reports,
.deliveries,
.deliveries_history {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

.logo
{
  height: 200px;
  width: 200px;
  padding-bottom: 1rem;
}

.grid-container {
  display: inline-grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto ;
  border: 1px solid black;
  grid-template-areas:
    ". . . ."
    "incidents_grid incidents_grid incidents_grid filters"
    "incidents_grid incidents_grid incidents_grid filters";
}

.incidents_grid {
  grid-area: incidents_grid;
  background-color: darkgray;
  border: 1px solid black;
}

.filters {
  grid-area: filters;
  background-color: darkgray;
  border: 1px solid black;
}

